html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 600px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-height: 600px;
	background-image: url("../assets/landing_background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#project-title-container {
	width: 400px;
	height: 300px;
	margin: 0 auto;
}

#project-title-container img {
	display: block;
	margin: 0 auto;
}

#project-title-container h1 {
	display: block;
	margin: 0 auto;
	font-size: 3em;
}

#project-title-container label {
	display: block;
	margin: 0 auto;
}

#index-content-left {
	float: left;
	padding-top: 100px;
	display: inline-block;
}

#index-content-right {
	float: right;
	padding-top: 200px;
	display: inline-block;
}

#options-container {
	margin: 0 auto;
	display: block;
	width: 100%;
}

#options-container button {
	margin: 0 auto;
	display: block;
	width: 300px;
	height: 75px;
	font-size: 15px;
	font-weight: 600;
}

.half-content {
	width: 50%;
	height: 100%;
}

#cool-shakespeare {
	width: 175px;
	height: 200px;
	margin: 0 auto;
}

#choice-menu-header {
	color: white;
}

@media screen and (max-width: 900px) {

	#index-content-left {
		padding-top: 50px;
		display: block;
	}

	#index-content-right {
		padding-top: 50px;
		display: block;
	}

	.half-content {
		width: 100%;
	}

}

#landing-footer {
	width: 100%;
	height: 100px;
    position: fixed;
	bottom: 0;

}
#footer-content-container {
	width: 250px;
	margin: 0 auto;
}

.icon-container {
	width: 90px;
	height: 90px;
	display: inline-block;
	margin: 0px 10px;
}

.footer-icon {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#github-icon {
	width: 100%;
	height: 100%;
	background-image: url("../assets/github_icon.png");
}

#about-popup-anchor {
	outline: none;
}

#about-icon {
	width: 100%;
	height: 100%;
	background-image: url("../assets/about_icon.png");
}
