html body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: whitesmoke;
}


#project-title-container {
	width: 400px;
	height: 300px;
	margin: 0px 50px;
}

#project-title-container h1 {
	display: block;
	float: left;
	margin: 5px;
}

#project-title-container label {
	display: block;
	float right;
	margin: 5px;
}


#landing-footer {
	width: 100%;
	height: 100px;
    position: fixed;
	bottom: 0;

}
#footer-content-container {
	width: 250px;
	margin: 0 auto;
}

.icon-container {
	width: 90px;
	height: 90px;
	display: inline-block;
	margin: 0px 10px;
}

.footer-icon {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#github-icon {
	width: 100%;
	height: 100%;
	background-image: url("../assets/github_icon.png");
}

#about-popup-anchor {
	outline: none;
}

#about-icon {
	width: 100%;
	height: 100%;
	background-image: url("../assets/about_icon.png");
}
