html {
	font-size: 22px;
}

#main-content-container {
	margin: 0 auto;
	width: 1000px;
}

.madlib-inner-tab-container {
	width: 100%;
	min-height: 600px;
	border: solid 1px black;
	margin-bottom: 50px;
}

#tab1 {
	width: 100%;
	min-height: 600px;
	border: solid 1px black;
	margin-bottom: 50px;
}

#page-title {
	color: #1976D2;
}